# have git ignore these filses
.csv
.log
.pyc

# ignore all files in the venv directory
evs_venv/*
data/*
logs/*
__pycache__/*
.vscode/*
src/__pycache__/*
src/gui/__pycache__/*
src/utils/__pycache__/*
src/validation/__pycache__/*